* {
  font-family: "Trebuchet MS";
}

.glowny {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.boczny {
  background-color: #c5cae9;
  width: 40%;
  height: 600px;
  overflow: auto;
  float: left;
}

.sekcja_1,
.sekcja_2 {
    width: 60%;
    height: 300px;
    float: left;
}

.sekcja_1 {
    background-color: #9FA8DA;
}

.sekcja_2 {
    background-color: #7986CB;
}

.stopka{
    background-color: #283693;
    color: white;
    padding: 20px;
    display: flex;
}

.opona {
    background-color: #9FA8DA;
    margin: 40px;
    border: 2px color(#283593);
    border-radius: 30px;
}

img {
    height: 250px;
    width: 250px;
    padding: 20px;
    float: left;
}

h2 {
    text-align: center;
    margin: 0px;
}

h3 {
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}