* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.top {
  background-color: rgb(143, 112, 83);
  display: flex;
  justify-content: center;
  column-gap: 200px;
  padding: 10px;
}

.p1,
.p2,
.p3 {
  background-color: white;
  padding: 10px;
  border-radius: 999999px;
  border: 1px, solid, white;
  a {
    color: rgb(143, 112, 83);
  }
}

.p1:hover,
.p2:hover,
.p3:hover {
  background-color: transparent;
  a {
    color: white;
  }
}

.mid {
  background-color: aliceblue;
  padding: 5px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

table {
  border: 1px, dashed, black;
  width: 60%;
  text-align: center;
  margin-left: 50px;
}

ul {
  padding-left: 100px;
}

.stopka {
  background-color: rgb(143, 112, 83);
  padding: 40px;
  color: white;
  text-align: center;
}
